{
  "_theme": "structured",
  "_biz_version": {{ template_version | toString }},
  "header": {
    "title": {{ header_title | toString }},
    "title_icon": "https://d.cobo.com/public/logos/business_guard_icon.png"
  },
  "body": {
    "components": [
      {
        "_component_type": "section",
        "components": [
          {
            "_component_type": "text",
            "_is_in_list": true,
            "key": "Organization",
            "data": {
              "value": {{ org_name | toString }},
              "label": {{ environment | toString }}
            }
          },
          {
            "_component_type": "text",
            "_is_in_list": true,
            "key": "Initiator",
            "data": {
              "value": {{ initiator | toString }}
            }
          },
          {
            "_component_type": "date_time",
            "key": "Created Time",
            "data": {
              "value": {{ created_time | toInt }}
            }
          },
          {% if expired_time %}
          {
            "_component_type": "date_time",
            "key": "Expired Time",
            "data": {
              "value": {{ expired_time | toInt }}
            }
          },
          {% endif %}
          {
            "_component_type": "text",
            "key": "Message ID",
            "data": {
              "value": {{ statement_uuid | toString }}
            }
          }
        ]
      },
      {
        "_component_type": "section",
        "components": [
          {
            "_component_type": "text",
            "_style": {
              "is_highlighted": false,
              "is_large_size": false,
              "is_bold": false
            },
            "key": "Vault Name",
            "data": {
              "value": {{ vault_name | toString }}
            }
          }
        ]
      },
      {
        "_component_type": "section",
        "data": {
          "title": {{ section1_title | toString }}
        },
        "components": [
          {% for holder in new_key_share_holder %}
          {
            "_component_type": "text",
            "_style": {
              "is_highlighted": false,
              "is_large_size": false,
              "is_bold": false
            },
            "key": "Key Share Holder",
            "data": {
              "value": {{ holder['holder'] | toString }}
            }
          },
          {
            "_component_type": "text",
            "_style": {
              "is_highlighted": false,
              "is_large_size": false,
              "is_bold": false
            },
            "key": "TSS Node ID",
            "data": {
              "value": {{ holder['tss_node_id'] | toString }}
            }
          }{% if not loop.last %},{% endif %}
          {% endfor %}            
        ]
      },
      {
        "_component_type": "section",
        "data": {
          "title": {{ section2_title | toString }}
        },
        "components": [
          {
            "_component_type": "text",
            "_style": {
              "is_highlighted": false,
              "is_large_size": false,
              "is_bold": false
            },
            "key": "Group ID",
            "data": {
              "value": {{ from_group_id | toString }}
            }
          },
          {% for holder in from_key_share_holder %}
          {
            "_component_type": "text",
            "_style": {
              "is_highlighted": false,
              "is_large_size": false,
              "is_bold": false
            },
            "key": "Key Share Holder",
            "data": {
              "value": {{ holder['holder'] | toString }}
            }
          },
          {
            "_component_type": "text",
            "_style": {
              "is_highlighted": false,
              "is_large_size": false,
              "is_bold": false
            },
            "key": "TSS Node ID",
            "data": {
              "value": {{ holder['tss_node_id'] | toString }}
            }
          }{% if not loop.last %},{% endif %}
          {% endfor %}            
        ]
      }
    ]
  }
}