{
  "_theme": "mfa",
  "_biz_version": "{{ template_version }}",
  "base_info": {
    "title": "Please confirm if this action was initiated by you",
    "title_icon": "https://d.cobo.com/public/documents/statement_mfa.png",
    "initiator_icon": "https://d.cobo.com/public/documents/statement_mfa.png",
    "initiator": "{{ initiator }}",
    "action": "{{ operation_name }}",
    "org_name": "{{ org_name }}",
    "environment": "{{ environment }}",
    "created_time": "{{ created_time }}",
    {% if expired_time %}
    "expired_time": "{{ expired_time }}",
    {% endif %}
    "statement_uuid": "{{ statement_uuid }}"
  },
  "extensible_info": {
    "components": [
      {
        "_component_type": "text_with_popup",
        "_style": {
          "is_highlighted": true,
        },
        "key": "Policy Name",
        "value": "{{ policy_name }}"
      },
      {
        "_component_type": "text_with_popup",
        "_style": {
          "is_highlighted": true
        },
        "key": "Policy Type",
        "value": "{{ policy_type }}"
      },
      {
        "_component_type": "text_with_popup",
        "key": "Applicable Wallets",
        "value": "{{ applicable_wallets_len }}",
        "popup": {
          "_popup_type": "text",
          "title": "Applicable Wallets",
          "sub_title": "{{ applicable_wallets_len }}",
          "data": {{ applicable_wallets | tojson }}
        }
      },
      {% if conditions %}
      {
        "_component_type": "text_with_popup",
        "key": "Conditions",
        "value": "{{ conditions_type_names }}",
        "popup": {
          "_popup_type": "text",
          "title": "Conditions",
          "type": "text",
          "data": {{ conditions | tojson }}
        }
      },
      {% endif %}
      {
        "_component_type": "text_with_popup",
        {% if approval_users %}
        "popup": {
          "_popup_type": "card",
          "_style": {
            "icon_size": "normal"
          },
          "title": "Approval",
          "sub_title": "{{ approval_desc }}",
          "card": {{ approval_users | tojson }}
        },
        {% endif %}
        "key": "Approval",
        "value": "{{ approval_desc }}"
      }
    ]
  }
}